.services {
    height: 100%;
    width: 100%;
    padding: 20rem 0;
    display: flex;
    justify-content: center;
    align-items: centre;
    /*animation: all 3s fade-in;*/
}

#services-container {
    /* display: none; */
    position: relative;
    padding-top: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    text-align: center;
    flex-basis: 30%;
}

.service-svg path {
    fill: orange;
    stroke: green;
}


@media (max-width: 600px) {
    .service {
        flex-basis: 100%;

    }
    .service:not(:first-child) {
        margin-top: 3rem;
    }
}