.loading {
    height: 100vh;
    display: grid;
    place-items: center;
}

.svg-container svg {
    width: 0;
    height: 0;
}

#landing-video-container {
    position: absolute;
    width: 624px;
    height: 292px;
    overflow: hidden;
    clip-path: url(#text-path-big);
}

#landing-video-container video {
    position: inherit;
    width: 100%;
}

@media (max-width: 600px) {
    #landing-video-container {
        width: 395px;
        height: 186px;
        clip-path: url(#text-path-medium);
    }
}

@media (max-width: 375px) {
    #landing-video-container {
        width: 264px;
        height: 124px;
        clip-path: url(#text-path-small);
    }
}
