.LandingPage {
    height: 100%;
    width: 100%;
    animation: ease-out 1s forwards fade-in;
    transition: all 0.5s ease-in;
}

.animate {
    transition: all 1s ease-in;
}

.addAnimation {
    animation: ease-out 1s forwards fade-in;
}

.unanimate {
    transition: background-color 1s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}