.temp-header {
    width: 150vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inverse {
    background-color: orange;
}

.LandingPage {
    animation: ease-out 2s forwards fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}