@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #1A2324;
}

a {
  text-decoration: none;
  color: #1A2324;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.page-wrapper {
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}