@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap');

/* 
fonts
font-family: 'Quattrocento', serif;
font-family: 'Quattrocento Sans', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #1A2324;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
  
}

section {
  background-color: transparent;
  transition: 0.3s;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento', serif;
}



a {
  text-decoration: none;
  color: #1A2324;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

hr {
  width: 2rem;
}

.page-wrapper {
  max-width: 87.5%;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.animate {
  opacity: 1;
}

